<div class="container is-fluid">
  <p class="title is-2 is-spaced">Welcome to IEToEdgeListView</p>
  <p class="subtitle is-5">The Web Site allows you to visually check Microsoft Edge compatibility list.</p>
  <div class="content home-content">
    <hr />
    <p>
      You can visually check and search Edge compatibility list from&nbsp;<a [routerLink]="['/list']">this</a>.
    </p>
    <div><img src="/assets/images/compatlist-example.png" class="home-img" /></div>

    <p>
      <span>Edge compatibility list is used by redirect from IE to Edge.
        Check <a href="https://docs.microsoft.com/en-us/microsoft-edge/web-platform/ie-to-microsoft-edge-redirection" target="_blank" rel="noopener">this official site.</a>
      </span>
    </p>

    <hr />
    <span>※ This is a individual site, <strong>not MS official site</strong>. If you get the latest and accurate information, go to the following official sites.</span>
    <ul>
      <li>
        <u>Offical docs</u> : <a href="https://docs.microsoft.com/en-us/microsoft-edge/web-platform/ie-to-microsoft-edge-redirection" target="_blank" rel="noopener">
          Moving users to Microsoft Edge from Internet Explorer</a>
      </li>
      <li>
        <u>Original compatibility List</u> : <a href="https://edge.microsoft.com/neededge/v1" target="_blank" rel="noopener">
          Need Microsoft Edge list</a>
      </li>
    </ul>
  </div>
</div>
